.calculator {
    max-width: 300px;
   
    margin: 0 auto;
  }
  
  #result {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin-top: 10px;
   
  }
  
  button {
    padding: 10px;
    font-size: 20px;
  }
  input{
    margin-top:100px ;
    height: 40px;
    font-size:20px;
  }
  body{
   background-image:linear-gradient(to right,#00BFFF,#ADD8E6,#00BFFF);
  }